
@{
    ViewBag.Title = "PersonRegisterList";
}

<h2>PersonRegisterList</h2>

<div class="panel panel-heading" style="background-color: aqua">

</div>

<div class="panel-body" style="background-color: #808080">
    @Html.Partial("PersonRegisterListResult")
</div>